@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-bar {
    @apply flex bg-blue-950 w-full p-2 justify-between;
  }
  .nav-icon {
    @apply font-mono font-bold text-base relative 
        flex items-center justify-center
        h-8 w-32 my-3 mb-2 mx-2 px-2 
        bg-blue-950 text-gray-300 rounded-xl
        hover:hover:bg-blue-900 hover:text-white 
        transition-all duration-200 ease-linear;
  }
  .logout-button {
    @apply text-center font-mono text-base
        bg-blue-950 text-gray-300
        hover:bg-gray-300 hover:text-black
        transition-all duration-200 ease-linear
        font-semibold h-10 w-[100px] my-2 mx-2 px-2 rounded;
  }
  .logo {
    @apply relative flex justify-center items-center 
        p-1 my-2 mx-3 w-10 h-10
        rounded-lg bg-blue-950 text-gray-300
        hover:bg-gray-300 hover:text-black hover:bg-opacity-40
        hover:w-12 hover:h-12 hover:my-1 hover:mx-2;
  }
}
